<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>
  </div>
</div>


<h2><%= are_there_any_user_posts_out_there %></h2>
<%= render @user.posts %>

<h2><%= are_there_any_user_comments_out_there %></h2>
<%= render @user.comments %>

<% if current_user && !(@current_user_favorite_posts.empty?) %>
  <h2>My Favorite Posts</h2>
  <% @current_user_favorite_posts.each do |post| %>
    <%= render 'posts/favorite_posts', post: post %>
  <% end %>
<% end %>
